.sessionDevice{
    width: 44%;
}

.sessionDevice_chart {
    width: 100%;
    height: 294px;
    margin-top: 25px;
    position: relative;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    padding: 18px;
}

.sessionDevice_chart_barchart{
    position: relative;
    bottom: 20px;
}

.sessionDevice_chart .recharts-radial-bar-label,
.sessionDevice_chart .recharts-legend-wrapper{
    display: none;
}

.sessionDevice_chart_data{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.sessionDevice_chart_data_box_name{
    font-size: 14px;
    font-weight: 700;
    color: var(--black-bg2);
}

.sessionDevice_chart_data_box_flex{
    display: flex;
    align-items: end;
    gap: 5px;
    margin-top: 5px;
}

.sessionDevice_chart_data_box_num{
    font-size: 18px;
    font-weight: 500;
    color: var(--black-bg1);
}

.sessionDevice_chart_data_box_percent{
    font-size: 13px;
    font-weight: 500;
    color: var(--black-bg2);
}

.sessionDevice_desc{
    width: 100%;
    height: 274px;
    margin-top: 25px;
    background: var(--white);
    border-radius: 10px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sessionDevice_desc_channel,
.sessionDevice_desc_direct{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel_title,
.channel_body,
.channel_value{
    font-size: 14px;
    font-weight: 700;
    color: var(--black-bg1);
}

.channel_body{
    width: 55.5%;
}

.sessionDevice_desc_direct_title{
    font-size: 14px;
    font-weight: 500;
    color: var(--black-bg2);
}

.sessionDevice_desc_direct_body{
    width: 50%;
    height: 10px;
    background: var(--white-bg);
    border-radius: 10px;
    position: relative;
}

@keyframes fillAnimation {
    0% { width: 0%; }
    100% { width: 65%; }
}

@keyframes fillAnimation1 {
    0% { width: 0%; }
    100% { width: 75%; }
}

@keyframes fillAnimation2 {
    0% { width: 0%; }
    100% { width: 50%; }
}

.sessionDevice_desc_direct_body_fill{
    height: 100%;
    background: var(--blue);
    border-radius: inherit;
    animation: fillAnimation 1s ease forwards;
}

.fill_orange{
    background: var(--orange1);
    animation: fillAnimation1 1s ease forwards;
}

.fill_green{
    background: var(--green1);
    animation: fillAnimation2 1s ease forwards;
}

.sessionDevice_bottom{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background: var(--white);
    border-radius: 10px;
    padding: 18px;
}

.sessionDevice_bottom .preformance_header{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.sessionDevice_btn{
    width: 131px;
    height: 48px;
    background: var(--blue);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .sessionDevice_chart{
        flex-direction: column;
        height: auto;
    }

    .sessionDevice_chart_data{
        width: 100%;
        flex-direction: row;
    }
}

@media screen and (max-width: 840px) {
    .sessionDevice{
        width: 100%;
    }

    .sessionDevice_chart{
        width: 100%;
        flex-direction: row;
        height: 294px;
        justify-content: space-between;
    }

    .sessionDevice_chart_data{
        flex-direction: column;
    }
}

@media screen and (max-width: 614px) {
    .sessionDevice_chart{
        flex-direction: column;
        height: auto;
    }

    .sessionDevice_chart_data{
        width: 100%;
        flex-direction: row;
    }

    .sessionDevice_chart_barchart{
        bottom: 0;
    }
}

@media screen and (max-width: 380px) {
    .sessionDevice_chart_data{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sessionDevice_chart_barchart{
        bottom: 0;
        left: -20px;
        transform: scale(.7);
    }
}
